
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

@await Html.PartialAsync("/Views/AdminLAyout/AdminHeaderPartial.cshtml")

<body>


    <div id="layout-wrapper">

        @await Html.PartialAsync("/Views/AdminLAyout/AdminNavbarPartial.cshtml")

        @await Html.PartialAsync("/Views/AdminLAyout/AdminSidebarPartial.cshtml")

        <div class="main-content">
            @RenderBody()

            @await Html.PartialAsync("/Views/AdminLAyout/AdminFooterPartial.cshtml")

        </div>

    </div>

    @await Html.PartialAsync("/Views/AdminLAyout/AdminScriptPartial.cshtml")
           

</body>

</html>
